<div class="masthead">
  <div class="language-nav">
  <ul> 
    <li><a>CSS</a></li>
    <li><a>HTML</a></li>
    <li><a>Javascript</a></li> 
    <li><a>Ruby</a></li>
  </ul>
</div>

<a><img class="logo" src="/assets/AA_Times_Logo.png"></a>
<div class="masthead-links">
  <li><a>Tuesday, October 18, 2016</a></li>
  <li><i class="far fa-newspaper"></i><a>Today’s Paper</a></li>
  <li><i class="fas fa-video"></i><a>Video</a></li>
  <li><button type="button">77°F</button></li>
  <li><button type="button">AAO +100%</button></li>
</div>
</div>